$font:"Be Vietnam Pro";
$black_text: #242d52;
$white_text: #fcf6f5;
$orange_after: #f98f75;
$orange: #F3603C;
$orange_shadow: #ff9f8e;
$black: #1D1E25;
$gray_bg: #FAFAFA;
$pink: #FFF0EC;
$white: #fff;
$orange_shadow1: #db5943;